<!-- scenarios/_scenario.html.erb -->
    <div id="<%= element_id(@scenario) %>" class="scenario">
    <% if @scenario.created_at.nil? -%>
      <% remote_form_for :scenario, @scenario, :url => story_scenarios_path(@story) do |f| -%>
      <div class="scenario-form">
        <%= f.text_area :title, :value => "Add a scenario description here.", :size => '58x2' %>
        <%= f.submit 'Save' %>
      </div>
      <% end -%>
    <% else -%>
      <div class="scenario-title">
        <%= in_place_editor_field 'scenario', 'title' %>
        &nbsp;&bull;
        <%= link_to_remote "Delete", :url => story_scenario_path(@story,@scenario), :confirm => 'Delete this scenario?', :method => :delete, :class => "delete-small" %>
      </div>
      <div id="<%= element_id(@scenario,'preconditions') %>" class="preconditions">
        <%= link_to_remote "Preconditions",
          :url => preconditions_path(:scenario_id => @scenario.id), :method => :get %>
      </div>
      <div id="<%= element_id(@scenario,'outcomes') %>" class="outcomes">
        <%= link_to_remote "Outcomes",
          :url => outcomes_path(:scenario_id => @scenario.id), :method => :get %>
      </div>
    <% end -%>
    </div>

