<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Branston - Stories: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.7.2.custom' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
  <%= javascript_include_tag 'jquery.jeditable.mini' %>
  <%= javascript_include_tag 'jquery-multiselect-drag-n-drop' %>
</head>
<body>
  <%= render :partial => "layouts/header" %>

  <p style="color: green"><%= flash[:notice] %></p>

	<div id="page">
		<div id="content">
    <%= yield %>
    </div>
  </div>

  <%= render :partial => "layouts/footer" %>
  <%= yield :page_end %>
</body>
</html>

