<!-- stories/_story.html.erb -->
    <% @story = story -%>
    <div id="<%= element_id(story) %>" class="story">
      <div class="accordion-toggle<%= ' accordion-toggle-active' if @active %>">
        <%= in_place_editor_field 'story', 'title' %>
        <%= link_to image_tag("/images/icons/delete_icon_20x19.png", :alt => "Delete"), 
        iteration_story_path(@iteration, @story), :confirm => 'Delete this story?', 
        :method => :delete, :class => "delete-small" %>
        <div style="clear:left">By <%=@story.author%></div>  
      </div>
      
      <div id="<%= element_id(story,'scenarios') %>" class="accordion-content">
        <div class="story-props">
          <% remote_form_for :story, @story, :url => "#{iteration_stories_path(@iteration)}.js" do |f| -%>
            <%= hidden_field_tag '_method', 'PUT' %>
            <%= hidden_field_tag 'id', @story.id %>  
            <div>
              <%= f.select :points, (1..10).to_a, {}, :id => element_id(@story,'points') %> Points
            </div>
            <div>
              <%= f.label :status %>
              <%= f.select :status, ['new', 'in_progress', 'completed'], {},
              :id => element_id(@story, 'status') %>
            </div>
            <% unless @iterations.empty? -%>
            <div>
              <%= f.label :iteration_id, "Iteration" %>
              <%= f.select :iteration_id, @iterations.map{|i|[i.name,i.id]}, 
              {:prompt => "Assign Iteration"}, :id => element_id(@story,'iterations') %>
            </div>
            <% end -%>
          <% end -%>
        </div>
        <p>
          <%= in_place_editor_field 'story', 'description' %>
        </p>
        
        <div>
          <%= link_to_remote "Scenarios &raquo;", :method => 'GET',
          :url => iteration_story_scenarios_path(@iteration, @story)  %>
        </div>
      </div>
    </div>
    
<% content_for :page_end do -%>
<script type="text/javascript">
document.observe("dom:loaded", function() {
  $("<%= element_id(@story, 'points') %>").observe("change", Util.Form.selectChange);
  <% unless @iterations.empty? %>
  $("<%= element_id(@story, 'iterations') %>").observe("change", Util.Form.selectChange);
  <% end %>
  $("<%= element_id(@story, 'status') %>").observe("change", Util.Form.selectChange);
});
</script>
<% end -%>
