<!-- stories/_story.html.erb -->
    <% @story = story -%>
    <div id="<%= element_id(story) %>" class="story">
      <div class="accordion-toggle">
        <%= in_place_editor_field 'story', 'title' %>
        <%= link_to image_tag("/images/icons/delete_icon_20x19.png"), story, :confirm => 'Delete this story?', :method => :delete, :class => "delete" %>
      </div>
      <div id="<%= element_id(story,'scenarios') %>" class="accordion-content">
        <p>
          <%= in_place_editor_field 'story', 'points' %> Points
          &nbsp;&bull;
          <%= link_to_remote "View Tests", :update => element_id(story,'scenarios'), :url => story_scenarios_path(@story), :method => 'GET' %>
        </p>
        <p>
          <%= in_place_editor_field 'story', 'description' %>
        </p>
      </div>
    </div>

