<p id="<%= element_id(@precondition) %>" class="precondition">
<% if @precondition.created_at.nil? -%>
  <% remote_form_for @precondition do |f| -%>
  <%= hidden_field_tag 'scenario_id', @scenario.id %>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5 %>
    <%= f.submit 'Create' %>
  <% end -%>
<% else -%>
    <%= in_place_editor_field 'precondition', 'description' %>
    <%= link_to_remote "Delete", :url => @precondition, :confirm => 'Delete this precondition?', :method => :delete %>
<% end -%>
</p>

