<%= error_messages_for :object => @user,
  :header_tag => 'h3',
  :id => "errors",
  :class => "errors",
  :header_message => "Whoops!",
  :message => "We had some problems saving this user."
-%>

<div class="form">
  <p>
    <%= label_tag 'Login' %>
    <%= f.text_field :login %>
  </p>

  <p>
    <%= label_tag 'Email' %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= label_tag 'Password' %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= label_tag 'password_confirmation', 'Confirm' %>
    <%= f.password_field :password_confirmation %>
  </p>

  <% if current_user.has_role?("admin") -%>
    <p>
      <%= label_tag 'Role' %>
      <%= f.select :role, ["admin", "client", "developer"] %>
    </p>
    <hr/>
    <h2>Project access</h2>
    <ul>
      <% @projects.each_with_index do |project, index| %>
        <li>
          <%= check_box_tag "user[participations][][project]",
                project.to_param, @user.participant?(project) %>
          <%= project.name %>
        </li>
      <% end %>
    </ul>
  <% end -%>
</div>