<%
  @page_title = "Users"
%>

<div class="row heading">
  <div class="span9">
    <h1><%=h @page_title %></h1>
  </div>
  <div class="span3">
    <% if current_user.has_role?("admin") %>
      <% link_to new_user_path, :class => "btn btn-primary pull-right" do %>
        <i class="icon-plus icon-white"></i>
        Add user
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Login</th>
          <th>Email</th>
          <th>Current State</th>
          <% if current_user.has_role?("admin") %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% for user in @users %>
        <tr>
          <td><%= link_to user.login, edit_user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.state %></td>
          <% if current_user.has_role?("admin") %>
            <td class="actions">
              <% if user.state == "active" -%>
                <%= link_to 'Suspend', suspend_user_path(user), :class => "btn btn-warning"  %>
              <% else %>
                <%= link_to 'Activate', activate_user_path(user), :class => "btn btn-success" %>
              <% end -%>
              <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-primary" %>
              <%= link_to'Destroy', user, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>