<%= error_messages_for :object => @project,
  :header_tag => 'h3',
  :id => "errors",
  :class => "errors",
  :header_message => "Whoops!",
  :message => "We had some problems saving this project."
-%>
  
<p class="form-fields">
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>

<p class="form-fields">
  <%= form.label :description %>
  <%= form.text_area :description, :rows => 5 %>
</p>