<%= error_messages_for :object => @project,
  :header_tag => 'h3',
  :id => "errors",
  :class => "errors",
  :header_message => "Whoops!",
  :message => "We had some problems saving this project."
-%>
<div class="form">
	<p>
	  <%= form.label :name %>
	  <%= form.text_field :name %>
	</p>

	<p>
	  <%= form.label :description %>
	  <%= form.text_area :description, :rows => 5 %>
	</p>
</div>