<% @page_title = "Edit #{@project.name}" %>
<h2><%=h @page_title %></h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', projects_path %></li>
		<li><%= link_to 'Show', @project %></li>
	</ul>
</div>

<% form_for(@project) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Update' %></p>
<% end %>