<% @page_title = "Projects" %>
<h2><%=h @page_title %></h2>

<div id="actions">
	<ul>
		<li><%= slink_to 'New Project', new_project_path, {}, "admin" %></li>
	</ul>
</div>

<table class="table">
  <tr>
    <th>&nbsp;</th>
		<th>&nbsp;</th>
  </tr>

  <% for project in @projects %>
  <tr class="<%=cycle('odd','even')%>">
    <td><%= link_to project.name, project, :title => project.description %></td>
    <td class="actions">
      <%= slink_to 'Edit', edit_project_path(project), {}, "admin" %>
      <%= slink_to 'Destroy', project, { :confirm => 'Are you sure?', :method => :delete }, "admin" %>
    </td>
  </tr>
  <% end %>
</table>


