<% @page_title = "Projects" %>
<h2><%=h @page_title %></h2>

<div id="actions">
	<ul>
    <% if current_user.has_role?("admin") %>
      <li><%= link_to 'New Project', new_project_path %></li>
    <% end %>
	</ul>
</div>

<table class="table">
  <tr>
    <th>&nbsp;</th>
		<th>&nbsp;</th>
  </tr>

  <% for project in @projects %>
  <tr class="<%=cycle('odd','even')%>">
    <td><%= link_to project.name, project, :title => project.description %></td>
    <td class="actions">
      <%= link_to_unless current_user.has_role?("admin"), 'Edit', edit_project_path(project) %>
      <%= link_to_unless current_user.has_role?("admin"), 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>


