<h2><%=h @page_title %></h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', projects_path %></li>
		<% if current_user.has_role?("admin") %>
      <li><%= link_to 'Edit', edit_project_path(@project) %></li>
    <% end %>
	</ul>
</div>

<p><%= @project.description %></p>

<h3>Iterations</h3>

<table class="table">
  <tr>
		<th>Name</th>
    <th>Velocity</th>
    <th>Start date</th>
    <th>End date</th>
		<th>&nbsp;</th>
  </tr>

<% @iterations.each do |iteration| %>
  <tr class="<%=cycle('odd','even')%>">
    <td><%=link_to iteration.name, project_iteration_path(@project, iteration) %></td>
		<td><%= iteration.velocity %></td>
    <td><%=h iteration.start_date.strftime('%d/%m/%Y') unless iteration.start_date.nil? %></td>
    <td><%=h iteration.end_date.strftime('%d/%m/%Y') unless iteration.end_date.nil? %></td>
    <td class="actions">
      <%= link_to 'Stories', iteration_stories_path(iteration) %>
      <%= link_to_unless current_user.has_role?("admin"), 'Edit',
            edit_project_iteration_path(@project, iteration) %>
      <%= link_to_unless current_user.has_role?("admin"), 'Destroy',
            project_iteration_path(@project), :confirm => 'Are you sure you want to delete this iteration?', :method => :delete  %>
    </td>
  </tr>
<% end %>
</table>

<% if current_user.has_role?("admin") %>
  <p><%= link_to 'New iteration', new_project_iteration_path(@project) %></p>
<% end %>