<% @story = story -%>
<div id="<%= element_id(story) %>" class="story">
  <div class="accordion-toggle<%= ' accordion-toggle-active' if @active %>">
    <h3>
			<%= in_place_editor_field :story, :title, {}, 
				:url => { :controller => 'stories', :action => 'set_story_title', :id => story.id, :iteration_id => @iteration.id } %>
			<%= clippy("branston -g -f #{@story.to_param} -b #{request.host} -p #{request.port} ", "#FFFF99") %>
		</h3>
    <%= link_to "Delete", iteration_story_path(@iteration, @story), 
			:confirm => 'Delete this story?', :method => :delete, :class => "delete" %>
  </div>

  <div id="<%= element_id(story,'scenarios') %>" class="accordion-content">
    <div class="story-props">
      <% remote_form_for :story, @story, :url => "#{iteration_story_path(@iteration, @story)}.js" do |f| -%>
        <%= hidden_field_tag '_method', 'PUT' %>
        <%= hidden_field_tag 'id', @story.id %>
        <p>
					<%= f.label :points %>
          <%= f.select :points, (1..10).to_a, {}, :id => element_id(@story,'points') %>
        </p>
        <p>
          <%= f.label :status %>
          <%= f.select :status, ['new', 'in_progress', 'quality_assurance', 'completed'].map {
            |s| [s.capitalize.gsub('_', ' '), s]}, {},
          	:id => element_id(@story, 'status') %>
        </p>
        <% unless @iterations.empty? -%>
        <p>
          <%= f.label :iteration_id, "Iteration" %>
          <%= f.select :iteration_id, @iterations.map{|i|[i.name,i.id]},
          {:prompt => "Assign Iteration"}, :id => element_id(@story,'iterations') %>
        </p>
        <% end -%>
      <% end -%>
    </div>
    <p>
			<%= in_place_editor_field :story, :description, {}, 
				:url => { :controller => 'stories', :action => 'set_story_description', :id => story.id, :iteration_id => @iteration.id } %>
    </p>

    <p>
      <%= link_to_remote "Scenarios &raquo;", :method => 'GET',
      	:url => iteration_story_scenarios_path(@iteration, @story)  %>
    </p>
  </div>
</div>

<% content_for :page_end do -%>
<script type="text/javascript">
	document.observe("dom:loaded", function() {
	  $("<%= element_id(@story, 'points') %>").observe("change", Util.Form.selectChange);
	  <% unless @iterations.empty? %>
	  $("<%= element_id(@story, 'iterations') %>").observe("change", Util.Form.selectChange);
	  <% end %>
	  $("<%= element_id(@story, 'status') %>").observe("change", Util.Form.selectChange);
	});
</script>
<% end -%>

