<div class="thumbnail">
  <div class="caption">
    <h3><%= story.title %></h3>
    <div id="story-<%= story.id %>" class="details hidden">
    	<% remote_form_for :story, story, :url => "#{iteration_story_path(@iteration, story)}.js" do |f| -%>
          <%= hidden_field_tag '_method', 'PUT' %>
          <%= hidden_field_tag 'id', story.id %>
	    	<p>
	        <%= f.label :status, "Status:" %>
	        <%= f.select :status, ['new', 'in_progress', 'quality_assurance', 'completed'].map {
	          |s| [s.capitalize.gsub('_', ' '), s]}, {},
	          :id => element_id(story, 'status').downcase, :class => "status" %>
	      </p>
      <% end %>
    	<p>Points: <%= story.points %></p>
	    <p><%= story.description%></p>
			<h4>Scenarios</h4>
			<% if story.scenarios.count > 0 %>
				<% story.scenarios.each do |scenario| %>

			  <% end %>
		  <% else %>
		  	<p>There are currently no scenarios for this story.</p>
		  <% end %>
	    <div class="form-actions">
	    	<%= link_to "Edit", edit_iteration_story_path(@iteration, story), :class => "btn btn-primary" %>
	    	<%= link_to "Delete", iteration_story_path(@iteration, story),
						:confirm => 'Delete this story?', :method => :delete, :class => "btn btn-danger" %>
		  </div>
		</div>
  </div>
</div>