<h1>Editing story</h1>

<% form_for(@story) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p class="clear-left">
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path, :class => "back" %>

