<% @page_title = "Stories for #{@iteration.name}" %>
<h2><%=h @page_title %></h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', project_path(@iteration.project) %></li>
		<li><%= link_to 'Show', project_iteration_path(@iteration.project, @iteration) %></li>
	</ul>
</div>

<p>
	<%= @total_assigned_points %>/<%= @iteration.velocity %> points assigned (<%=((@total_assigned_points.to_f/@iteration.velocity.to_f)*100).to_i%>%) - 
  <% case (@assignment_difference <=> 0)
  when -1 -%>
    Undersubscribed by <%= 0 - @assignment_difference%> points
    <% when 1 -%>
    Oversubscribed by <%=@assignment_difference %> points
    <% when 0 -%>
    Spot on!
  <% end -%>
</p>

<p><%= link_to 'New story', new_iteration_story_path(@iteration), :class => "add" %></p>

<div id="backlog-wrapper">
<h3>New stories <%=points_label(@backlog_stories)%></h3>
  <div id="backlog_stories" class="story-holder">
  <% if @backlog_stories.empty? %>
		<p>There are currently no stories for this iteration, <%=link_to "add story", new_iteration_story_path(@iteration) %></p>
  <% else %>
    <% @backlog_stories.each do |story| %>
      <%= render :partial => "story", :locals => { :story => story } %>
    <% end %>
  <% end %>
  </div>
</div>

<div id="current-wrapper">
<h3>In progress stories <%=points_label(@current_stories)%></h3>
  <div id="current_stories" class="story-holder">
  <% @current_stories.each do |story| %>
    <%= render :partial => "story", :locals => { :story => story } %>
  <% end %>
  </div>

  <h3>Quality assurance stories <%=points_label(@quality_assurance_stories)%></h3>
  <div id="quality_assurance_stories" class="story-holder">
  <% @quality_assurance_stories.each do |story| %>
    <%= render :partial => "story", :locals => { :story => story } %>
  <% end %>
  </div>
</div>

<div id="current-wrapper">
  <h3>Completed stories <%=points_label(@completed_stories)%></h3>
  <div id="completed_stories" class="story-holder">
  <% @completed_stories.each do |story| %>
    <%= render :partial => "story", :locals => { :story => story } %>
  <% end %>
  </div>
</div>