<%= link_to 'New story', new_story_path %>

<% content_for :page_end do %>
<script type="text/javascript">// TODO Move me to stories index
  $(function(){
	  // Accordions
	  $(".accordion").accordion({ header: "h3" });
    // Drag drop lists
    $('ul').drag_drop_selectable();
    // Editable fields
    $(".editable").editable("http://www.google.co.uk");
  });
</script>
<% end %>

<div id="current-wrapper">
  <h2>Current Stories</h2>
  <ul id="current" class="accordion">
  <% @stories.each do |story| %>
    <li class="story">
        <h3><a href="#"><%= truncate story.description, :length => 30 %></a></h3>
        <p>
          <span id="story_<%=story.id%>_points">Points: <%=h story.points %></span>
          <span><%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></span>
          <p id="story_<%=story.id%>_description" class="editable"><%=h story.description %></p>
        </p>
    </li>
    <% content_for :page_end do %>
      <% javascript_tag do %>
        $("story_#{story}.id_description").editable(edit_story_url(story));
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>

