<% @page_title = "Stories for iteration '#{@iteration.name}'" %>

<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="<%= projects_path %>">Projects</a> <span class="divider">/</span></li>
      <li><a href="<%= project_path(@iteration.project) %>"><%= @iteration.project.name %></a> <span class="divider">/</span></li>
      <li class="active"><%= @page_title %></li>
    </ul>
  </div>
</div>

<div class="row heading">
  <div class="span9">
    <h1><%=h @page_title %></h1>
    <p>
      <%= @total_assigned_points %>/<%= @iteration.velocity %> points assigned (<%=((@total_assigned_points.to_f/@iteration.velocity.to_f)*100).to_i%>%) -
      <% case (@assignment_difference <=> 0)
      when -1 -%>
        Undersubscribed by <%= 0 - @assignment_difference%> points
        <% when 1 -%>
        Oversubscribed by <%=@assignment_difference %> points
        <% when 0 -%>
        Spot on!
      <% end -%>
    </p>
  </div>
  <div class="span3">
    <% if current_user.has_role?("admin") %>
      <% link_to new_iteration_story_path(@iteration), :class => "btn btn-primary pull-right" do %>
        <i class="icon-plus icon-white"></i>
        Add story
      <% end %>
    <% end %>
  </div>
</div>

<div class="row stories">
  <div class="span3">
    <h3>New <br /><%=points_label(@backlog_stories)%></h3>
    <% if @iteration.stories.empty? %>
      <p>
        There are currently no stories for this iteration.
        <%= link_to "Add a add story", new_iteration_story_path(@iteration) if current_user.has_role?("admin") %>
      </p>
    <% else %>
      <% @backlog_stories.each do |story| %>
        <%= render :partial => "story", :locals => { :story => story } %>
      <% end %>
    <% end %>
  </div>

  <div class="span3">
    <h3>In progress <br /><%=points_label(@current_stories)%></h3>
    <% @current_stories.each do |story| %>
      <%= render :partial => "story", :locals => { :story => story } %>
    <% end %>
  </div>

  <div class="span3">
    <h3>Quality assurance <br /><%=points_label(@quality_assurance_stories)%></h3>
    <% @quality_assurance_stories.each do |story| %>
      <%= render :partial => "story", :locals => { :story => story } %>
    <% end %>
  </div>

  <div class="span3">
    <h3>Completed <br /><%=points_label(@completed_stories)%></h3>
    <% @completed_stories.each do |story| %>
      <%= render :partial => "story", :locals => { :story => story } %>
    <% end %>
  </div>
</div>

<% content_for :page_end do -%>
<script type="text/javascript">
// document.observe("dom:loaded", function() {
//   $$("#columns .heading").each(function(e) {
//     e.observe('click', function(){
//       Branston.Utils.toggleStoryDetails(e);
//     });
//   });
// });
</script>
<% end %>