<h2>Stories for <%=@iteration.name%></h2> 


<p>
	<%=@total_assigned_points%>/<%=@iteration.velocity%> points assigned (<%=((@total_assigned_points.to_f/@iteration.velocity.to_f)*100).to_i%>%) - 
  <% case (@assignment_difference <=> 0)
  when -1 -%>
    Undersubscribed by <%= 0 - @assignment_difference%> points
    <% when 1 -%>
    Oversubscribed by <%=@assignment_difference %> points
    <% when 0 -%>
    Spot on!
  <% end -%>
</p>

<p><%= link_to 'New story', new_iteration_story_path(@iteration), :class => "add" %></p>

<% content_for :page_end do %>
<script type="text/javascript">
// document.observe("dom:loaded", function() {
//   // Extend Accordion class to force some dynamic DOM elements to appear.
//   Accordion.addMethods({
//       forceExpand : function() {
//           var scenarios = $('.scenarios');
//           if (scenarios && scenarios.length > 0)
//               new Effect.Scale(scenarios[0], 100, {scaleY:true,scaleX:false,scaleMode:'contents'});
//       }
//   });
//   <% unless @current_stories.nil? or @current_stories.empty? -%>
//   var currentStories = new Accordion("current_stories", 1);
//   //$('accordion-toggle').each(function(e) {e.observe('click', currentStories.forceExpand);});
//   <% end -%>
//   <% unless @backlog_stories.nil? or @backlog_stories.empty? -%>
//   var backlogStories = new Accordion("backlog_stories", 1);
//   //$('accordion-toggle').each(function(e) {e.observe('click', backlogStories.forceExpand);});
//   <% end -%>
//   <% unless @completed_stories.nil? or @completed_stories.empty? -%>
//   var completedStories = new Accordion("completed_stories", 1);
//   //$('accordion-toggle').each(function(e) {e.observe('click', completedStories.forceExpand);});
//   <% end -%>
//   <% unless @quality_assurance_stories.nil? or @quality_assurance_stories.empty? -%>
//   var qualityAssuranceStories = new Accordion("quality_assurance_stories", 1);
//   //$('accordion-toggle').each(function(e) {e.observe('click', qualityAssurance.forceExpand);});
//   <% end -%>
// });
</script>
<% end %>

<div id="backlog-wrapper">
<h3>New stories <%=points_label(@backlog_stories)%></h3>
  <div id="backlog_stories" class="story-holder">
  <% if @backlog_stories.empty? %>
		<p>There are currently no stories for this iteration, <%=link_to "add story", new_iteration_story_path(@iteration) %></p>
  <% else %>
    <% @backlog_stories.each do |story| %>
      <%= render :partial => "story", :locals => { :story => story } %>
    <% end %>
  <% end %>
  </div>
</div>

<div id="current-wrapper">
<h3>In progress stories <%=points_label(@current_stories)%></h3>
  <div id="current_stories" class="story-holder">
  <% @current_stories.each do |story| %>
    <%= render :partial => "story", :locals => { :story => story } %>
  <% end %>
  </div>

  <h3>Quality assurance stories <%=points_label(@quality_assurance_stories)%></h3>
  <div id="quality_assurance_stories" class="story-holder">
  <% @quality_assurance_stories.each do |story| %>
    <%= render :partial => "story", :locals => { :story => story } %>
  <% end %>
  </div>
</div>

<div id="current-wrapper">
  <h3>Completed stories <%=points_label(@completed_stories)%></h3>
  <div id="completed_stories" class="story-holder">
  <% @completed_stories.each do |story| %>
    <%= render :partial => "story", :locals => { :story => story } %>
  <% end %>
  </div>
</div>