<%
  @page_title = "New Story"
%>

<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="<%= projects_path %>">Projects</a> <span class="divider">/</span></li>
      <li><a href="<%= project_path(@iteration.project) %>"><%= @iteration.project.name %></a> <span class="divider">/</span></li>
      <li><a href="<%= iteration_stories_path(@iteration) %>">Stories for iteration '<%= @iteration.name %>'</a> <span class="divider">/</span></li>
      <li class="active"><%= @page_title %></li>
    </ul>
  </div>
</div>

<div class="row heading">
  <div class="span12">
    <h1 class="muted"><%=h @page_title %></h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% form_for @story, :url => iteration_stories_path(@iteration),
        :html => { :class => "form-horizontal" } do |form| %>
      <%= render :partial => 'form', :locals => {:form => form} %>
    <% end %>
  </div>
</div>