<p>
  <b>Title:</b>
  <%=h @story.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @story.description %>
</p>

<p>
  <b>Points:</b>
  <%=h @story.points %>
</p>

<%= link_to_remote 'Generate Story', :update => "output",
:url => generate_feature_iteration_story_path(@iteration, @story), :method => 'get' %>

<span id="output"></span> |

<%= link_to 'Edit', edit_iteration_story_path(@iteration, @story) %> |
<%= link_to 'Back', iteration_stories_path(@iteration) %>

