<%= error_messages_for :object => @iteration,
  :header_tag => 'h3',
  :id => "errors",
  :class => "alert alert-error",
  :header_message => "",
  :message => "We had some problems saving this iteration"
-%>

<div class="control-group">
  <%= f.label :name, nil, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class => "input-xxlarge" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :velocity, nil, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :velocity, :class => "input-small numeric", :maxlength => 4 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :start_date, nil, :class => "control-label" %>
  <div class="controls">
    <div class="input-append date calendar" data-date-format="dd/mm/yyyy" data-date="">
      <%= f.text_field :start_date, :class => "input-small" %>
      <span class="add-on">
        <i class="icon-calendar"></i>
      </span>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :end_date, nil, :class => "control-label" %>
  <div class="controls">
    <div class="input-append date calendar" data-date-format="dd/mm/yyyy" data-date="">
      <%= f.text_field :end_date, :class => "input-small" %>
      <span class="add-on">
        <i class="icon-calendar"></i>
      </span>
    </div>
  </div>
</div>

<div class="form-actions">
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn" onclick="window.location='<%= projects_path %>';">Cancel</button>
</div>