<%= error_messages_for :object => @iteration,
  :header_tag => 'h3',
  :id => "errors",
  :class => "alert alert-error",
  :header_message => "",
  :message => "We had some problems saving this iteration"
-%>

<div class="control-group">
  <%= form.label :name, nil, :class => "control-label" %>
  <div class="controls">
	  <%= form.text_field :name, :class => "input-xxlarge" %>
  </div>
</div>

<div class="control-group">
  <%= form.label :velocity, nil, :class => "control-label" %>
  <div class="controls">
	  <%= form.text_field :velocity, :class => "input-xxlarge", :onkeypress => "return branston.forms.numericOnly(event);", :size => 4 %>
  </div>
</div>

<div class="control-group">
  <%= form.label :start_date, nil, :class => "control-label" %>
  <div class="controls">
	  <%= form.text_field :start_date, :class => "input-xxlarge" %> Add calendar select
  </div>
</div>

<div class="control-group">
  <%= form.label :end_date, nil, :class => "control-label" %>
  <div class="controls">
	  <%= form.text_field :end_date, :class => "input-xxlarge" %> Add calendar select
  </div>
</div>

<div class="form-actions">
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn" onclick="window.location='<%= projects_path %>';">Cancel</button>
</div>