<h1>Editing iteration</h1>

<% form_for(@iteration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :velocity %><br />
    <%= f.text_field :velocity %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @iteration %> |
<%= link_to 'Back', iterations_path %>