<% @page_title = "Edit  #{@iteration.name}" %>

<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="<%= projects_path %>">Projects</a> <span class="divider">/</span></li>
      <li><a href="<%= project_path(@project) %>"><%= @project.name %></a> <span class="divider">/</span></li>
      <li class="active"><%= @page_title %></li>
    </ul>
  </div>
</div>

<div class="row heading">
  <div class="span12">
    <h1 class="muted"><%=h @page_title %></h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% form_for :iteration, :url => project_iteration_path(@project, @iteration),
        :html => { :method => 'PUT', :class => "form-horizontal"} do |form| %>
      <%= render :partial => 'form', :locals => {:form => form} %>
    <% end %>
  </div>
</div>

