<% @page_title = "Edit  #{@iteration.name}" %>
<h2><%=h @page_title %></h2>

<div id="actions">
	<ul>
		<li><%= link_to 'Back', project_path(@project) %></li>
		<li><%= link_to 'Show', project_iteration_path(@project, @iteration) %></li>
	</ul>
</div>

<% form_for :iteration, :url => project_iteration_path(@project, @iteration), 
	:html => { :method => 'PUT' } do |f| %>
  <%= render :partial => 'form', :locals => {:f => f } %>
  <p><%= f.submit 'Update' %></p>
<% end %>

