<div class="index-head">
  <h2>Iterations</h2>
  <%= link_to 'New iteration', new_iteration_path, :class => "add" %>
</div>
<table class="index">
  <tr>
    <th>Velocity</th>
    <th class="name">Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>&nbsp;</th>
  </tr>

<% @iterations.each do |iteration| %>
  <% @iteration = iteration -%>
  <tr class="<%=cycle('odd','even')%>">
    <td><%= in_place_editor_field 'iteration', 'velocity' %></td>
    <td><%= in_place_editor_field 'iteration', 'name' %></td>
    <td><%=h iteration.start_date.strftime('%d/%m/%Y') unless iteration.start_date.nil? %></td>
    <td><%=h iteration.end_date.strftime('%d/%m/%Y') unless iteration.end_date.nil? %></td>
    <td>
      <%= link_to 'Show', iteration %>&nbsp;&nbsp;&bull;
      <%= link_to 'Edit', edit_iteration_path(iteration) %>&nbsp;&nbsp;&bull;
      <%= link_to 'Destroy', iteration, :confirm => 'Are you sure you want to delete this iteration?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to 'New iteration', new_iteration_path, :class => "add" if @iterations.size > 10 %>

