<%
  @page_title = "New Iteration"
%>

<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="<%= projects_path %>">Projects</a> <span class="divider">/</span></li>
      <li><a href="<%= project_path(@project) %>"><%= @project.name %></a> <span class="divider">/</span></li>
      <li class="active"><%= @page_title %></li>
    </ul>
  </div>
</div>

<div class="row heading">
  <div class="span12">
    <h1><%=h @page_title %></h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% form_for :iteration, :url => project_iterations_path(@project),
        :html => { :method => 'POST', :class => "form-horizontal" } do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
</div>