<div id="actions">
	<ul>
		<li><%= link_to 'Back', project_path(@project) %></li>
		<li><%= link_to 'Edit', edit_project_iteration_path(@project, @iteration) %></li>
		<li><%=link_to 'Stories', iteration_stories_path(@iteration) %></li>
	</ul>
</div>

<%= render :partial => "iterations/burndown_chart", :locals => { :iteration => @iteration } %>

<h3>Iteration Stats</h3>

<p>
  <strong>Velocity:</strong>
  <%=h @iteration.velocity %>
</p>

<p>
  <strong>Name:</strong>
  <%=h @iteration.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%=h @iteration.start_date.strftime('%d/%m/%Y') unless @iteration.start_date.nil? %>
</p>

<p>
  <strong>End date:</strong>
  <%=h @iteration.end_date.strftime('%d/%m/%Y') unless @iteration.end_date.nil? %>
</p>

<!-- 
TODO: Currently not showing releases as these need some reworking.
<p>
  <strong>Release:</strong>
  <%=h @iteration.release.release_date if @iteration.release %>
</p>
-->