<% @page_title = "Burndown" %>

<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="<%= projects_path %>">Projects</a> <span class="divider">/</span></li>
      <li><a href="<%= project_path(@iteration.project) %>"><%= @iteration.project.name %></a> <span class="divider">/</span></li>
      <li class="active"><%= @page_title %></li>
    </ul>
  </div>
</div>

<div class="row heading">
  <div class="span12">
    <h1 class="muted"><%=h @page_title %></h1>
    <p>This is the current burndown chart for '<%= @iteration.name %>'.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= render :partial => "iterations/burndown_chart", :locals => { :iteration => @iteration } %>
 </div>
</div>

<div class="row">
  <div class="span12">
    <p>
      <strong>Velocity:</strong>
      <%=h @iteration.velocity %>
    </p>
    <p>
      <strong>Start date:</strong>
      <%=h @iteration.start_date.strftime('%d/%m/%Y') unless @iteration.start_date.nil? %>
    </p>

    <p>
      <strong>End date:</strong>
      <%=h @iteration.end_date.strftime('%d/%m/%Y') unless @iteration.end_date.nil? %>
    </p>
  </div>
</div>