<h1>Log In</h1>

<% form_tag session_path do -%>
<p class="form-fields">
  <%= label_tag 'login' %>
  <%= text_field_tag 'login', @login %>
</p>

<p class="form-fields">
  <%= label_tag 'password' %>
  <%= password_field_tag 'password', nil %>
</p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p class="form-navigtion"><%= submit_tag 'Log in' %></p>
<% end -%>

