<p class="form-fields">
  <%= label_tag 'login' %>
  <%= f.text_field :login %>
</p>

<p class="form-fields">
  <%= label_tag 'email' %>
  <%= f.text_field :email %>
</p>

<p class="form-fields">
  <%= label_tag 'password' %>
  <%= f.password_field :password %>
</p>

<p class="form-fields">
  <%= label_tag 'password_confirmation', 'Confirm Password' %>
  <%= f.password_field :password_confirmation %>
</p>

<p class="form-fields">
  <%= label_tag 'is_admin', 'Is admin?' %>
  <%= f.check_box :is_admin %>
</p>

