<div class="index-head">
  <h2>Releases</h2>
  <%= link_to 'New release', new_release_path %>
</div>

<table class="index">
  <tr>
    <th>Release date</th>
    <th>Notes</th>
    <th>&nbsp;</th>
  </tr>

<% @releases.each do |release| %>
  <% @release = release -%>
  <tr class="<%=cycle('odd','even')%>">
    <td><%=h release.release_date %></td>
    <td><%= in_place_editor_field 'release', 'notes' %></td>
    <td class="actions">
      <%= link_to 'Show', release %>
      <%= link_to 'Edit', edit_release_path(release) %>
      <%= link_to 'Destroy', release, :confirm => 'Are you sure you want to delete this release?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New release', new_release_path if @releases.size > 10  %>