<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%= render :partial => "layouts/meta" %>
<title><%=h(@page_title) + " | " unless @page_title.nil? %>Branston</title>
<%= stylesheet_link_tag 'branston' %>
<%= yield :js_includes %>
</head>
<body>
<!-- start #container -->
<div id="container">
  <%= render :partial => "layouts/header" %>

  <% if flash[:notice] -%>
	  <div id="flash-notice">
			<!-- Extra div needed for SlideUp effect. -->
			<div>
				<%= flash[:notice] -%>
			</div>
		</div>
	<% end -%>

	<% if flash[:error] -%>
	  <div id="flash-error">
			<!-- Extra div needed for SlideUp effect. -->
			<div>
				<%= flash[:error] -%>
			</div>
		</div>
	<% end -%>

	<div id="content">
  	<%= yield %>
	</div>

	<!-- start #clear-footer -->
	<div id="clear-footer"></div>
	<!-- end #clear-footer -->
</div>
<!-- end #container -->
<%= render :partial => "layouts/footer" %>
<%= yield :page_end %>
</body>
</html>

