<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "layouts/meta" %>
  <title>Branston - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes "red" %>
  <%= javascript_include_tag 'accordion' %>
</head>
<body>
  <%= render :partial => "layouts/header" %>

  <p style="color: green" id="flash_notice"><%= flash[:notice] %></p>

	<div id="page">
		<div id="content">
    <%= yield %>
    </div>
  </div>

  <%= render :partial => "layouts/footer" %>
  <%= yield :page_end %>
</body>
</html>

